<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itx.android.android_itx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="true"  />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".SplashLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity
            android:name=".DashboardUtama"
            android:label="Dahsboard Utama" />
        <activity
            android:launchMode="singleTop"
            android:name=".ListUsers"
            android:label="List Pengguna" >

        </activity>
        <activity
            android:parentActivityName=".ListUsers"
            android:name=".ListAssets"
            android:label="List Assets"
            android:launchMode="singleTop"/>
        <activity
            android:launchMode="singleTop"
            android:parentActivityName=".ListAssets"
            android:name=".ListInventory"
            android:label="List Inventory" />
        <activity android:label="New User" android:name=".CreateNewUser"
            android:parentActivityName=".ListUsers"/>
        <activity android:label="New Asset" android:name=".CreateNewAsset"
            android:parentActivityName=".ListAssets"/>
        <activity android:label="New Inventory" android:name=".CreateNewInventory"
            android:parentActivityName=".ListInventory"></activity>

        <activity android:label="Update User" android:name=".UpdateUser"
            android:parentActivityName=".ListUsers"></activity>

        <activity android:label="Update Asset" android:name=".UpdateAsset"
            android:parentActivityName=".ListAssets"></activity>

    </application>

</manifest>