<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itx.android.android_itx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/seller"
        android:label="@string/app_name"
        android:roundIcon="@drawable/seller"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SplashLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity
            android:name=".DashboardUtama"
            android:label="Dahsboard Utama" />
        <activity
            android:name=".ListUsers"
            android:label="List Pengguna"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".ListAssets"
            android:label="List Assets"
            android:launchMode="singleTop"
            android:parentActivityName=".ListUsers" />
        <activity
            android:name=".ListInventory"
            android:label="List Inventory"
            android:launchMode="singleTop"
            android:parentActivityName=".ListAssets" />
        <activity
            android:name=".CreateNewUser"
            android:label="New User"
            android:launchMode="singleTop"
            android:parentActivityName=".ListUsers" />
        <activity
            android:name=".CreateNewAsset"
            android:label="New Asset"
            android:launchMode="singleTop"
            android:parentActivityName=".ListAssets" />
        <activity
            android:name=".CreateNewInventory"
            android:label="New Inventory"
            android:launchMode="singleTop"
            android:parentActivityName=".ListInventory" />
        <activity
            android:name=".UpdateUser"
            android:label="Update User"
            android:launchMode="singleTop"
            android:parentActivityName=".ListUsers" />
        <activity
            android:name=".UpdateAsset"
            android:label="Update Asset"
            android:launchMode="singleTop"
            android:parentActivityName=".ListAssets" />
        <activity
            android:name=".UpdateInventory"
            android:label="Update Inventory"
            android:launchMode="singleTop"
            android:parentActivityName=".ListInventory" />
        <activity android:name=".WelcomeActivity"></activity>
    </application>

</manifest>